*{
    padding: 0;
    margin: 0;
}

#newCode{
    cursor: pointer;
}
#noti_count{
    top:-6px;
    font-size: .68rem;
}
@media only screen and (max-width:575px){
    .container-fluid .list-group-item i{
        margin:0 auto !important;
    }
    .container-fluid>.row>.col-2{
        padding:5px;
    }
    table{
        font-size:0.8rem;
    }
    h4{
        font-size: 1rem;
    }
    .small{
        font-size: 0.7rem;
    }
    h5.modal-title{
        font-size: 0.9rem;
    }
    tbody td a{
        font-size: 0.8rem !important;
    }
    h5{
        font-size: 1rem;
    }
    .btn{
        font-size: .9rem;
    }
    .card-body>.alert{
        font-size: .91rem;
    }
}